<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <title>iU</title>
</head>

<body>
    <div class="backg">
        <div class="overlay"></div>
    </div>
    <!-- <div class="sidebox">
        <h1>H</h1>
        <h1>E</h1>
        <h1>L</h1>
        <h1>L</h1>
        <h1>O</h1>
    </div> -->
    <div class="box">
        <div class="navbar">
            <div class="navicon">
                <h1>iU</h1>
            </div>
            <div class="navcontent">
                <a href="#">Blog</a>
                <a href="#">Resume</a>
                <a href="#">Projects</a>
                <a href="/contact">Contact Us</a>
            </div>
        </div>
        <div class="introbox">
            <div class="profile">
                <h2 style="font-size: 2.5rem;">Hello .</h2>
                <img src="images/vector.svg" alt="" id="blue_dash"
                    style="height: 2rem; width: 6rem; transform: translateY(-1rem);">
                <h2 style=" font-size: 2.5rem; transform: translateY(-1rem);">I am <strong
                        style="color: #1483EA; font-weight: 600;">UTKARSH</strong>
                </h2>
                <p style="padding-top: 1rem; color: rgb(141, 140, 140); font-weight: 600;">A tech enthusiat with good
                    knowledge in
                    deep
                    learning
                    Lorem ipsum dolor sit amet.
                </p>
                <a href="#" class="btn-explore">Explore</a>
            </div>
            <div class="imgbox">
                <img src="images/dp.png" alt="">
            </div>
        </div>
        <!-- <div class="dp">
            <img src="dp.png" alt="">
        </div> -->

    </div>
    <div class="skills">
        <div class="shead">
            <img src="images/about.svg" alt="" class="about_img">
            <img src="images/dots.svg" alt="" style="margin-top: 2rem;">
        </div>

        <div class="skilldiv">

            <div class="leftskill">
                <img src="images/skills.svg" style="height:25rem;width:25rem;">
            </div>

            <div class="rightskill">
                <div class="barchart">
                    <div class="bars" id="bar1">
                        <div class="skillname"> Pytorch</div>
                        <div class="progress"></div>
                    </div>

                    <div class="bars" id="bar2">
                        <div class="skillname"> Python</div>
                        <div class="progress"></div>
                    </div>

                    <div class="bars" id="bar3">
                        <div class="skillname"> HTML</div>
                        <div class="progress"></div>
                    </div>

                    <div class="bars" id="bar4">
                        <div class="skillname"> React</div>
                        <div class="progress"></div>
                    </div>

                    <div class="bars" id="bar5">
                        <div class="skillname"> Tensorflow</div>
                        <div class="progress"></div>
                    </div>

                    <div class="bars" id="bar6">
                        <div class="skillname"> Pytorch</div>
                        <div class="progress"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="aboutme">
            <img src="images/who.svg" alt="" style="margin: 2rem; height: 3rem;">
            <img src="images/dots.svg" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus fuga nisi ipsam, beatae fugiat nulla
                ducimus quos error voluptas quaerat alias? Eveniet culpa asperiores adipisci sapiente laboriosam
                saepe earum, magnam, fugit veritatis voluptatem, velit officia a. Deserunt reprehenderit neque
                mollitia atque earum fugit quae sint necessitatibus quo ratione!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum labore dolores assumenda iusto
                voluptatem eius ullam at blanditiis! Aspernatur ut distinctio excepturi maxime nemo labore in, eum nam
                dolorum, qui officiis ea?
            </p>
        </div>
    </div>


    <div class="about">
        <div class="aboutHeading">
            <h1 style="margin-top: 2rem; text-align: center; font-family: 'Nunito', sans-serif;  font-weight:800;">WORK
                EXPERIENCE</h1>
            <img src="images/dots.svg" alt="" style="height: 1rem; margin-top: 1rem;">
            <p class="hire"><strong style="padding: 10px; background-color: #00A1A7; color: white;">Why</strong>
                Should
                you hire me!</p>
        </div>

        <div class="timeline">
            <div class="work1">
                <div class="leftbox">
                    <h1 style="text-align: center;">Aparokasha ‘21 volunteer</h1>

                </div>
                <div class="vertline">
                    <div class="circle">01</div>
                </div>
                <div class="rightbox">
                    Has volunteer for thw design team in aparoksha
                </div>
            </div>
            <div class="work2">
                <div class="leftbox">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Quasi quam fugiat vero culpa perspiciatis quod molestiae.
                </div>
                <div class="vertline">
                    <div class="circle">02</div>
                </div>
                <div class="rightbox">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Quasi quam fugiat vero culpa perspiciatis quod molestiae.
                </div>
            </div>
            <div class="work3">
                <div class="leftbox">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Quasi quam fugiat vero culpa perspiciatis quod molestiae.
                </div>
                <div class="vertline">
                    <div class="circle">03</div>
                </div>
                <div class="rightbox">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Quasi quam fugiat vero culpa perspiciatis quod molestiae.
                </div>
            </div>

        </div>
    </div>

    <div class="projects">
        <h1>Works</h1>
        <p style="text-align: center; font-size: 1.5rem; ">Here are a few projects I've worked on . Want to know
            more?
            Email me.</p>
        <div class="projectgrid">
            <div class="pcard" id="pcard1">
                <img src="https://images.unsplash.com/photo-1616161560417-66d4db5892ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                    class="pimg">
                <div class="poverlay"></div>
                <div class="details">
                    <div class="title">Language translator</div>
                    <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error provident quos
                        tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    <div class="more">
                        <a href="#">Know More</a>
                    </div>
                </div>
            </div>
            <div class="pcard" id="pcard2">
                <img src="https://images.unsplash.com/photo-1564707944519-7a116ef3841c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                    class="pimg">
                <div class="poverlay"></div>
                <div class="details">
                    <div class="title">Language translator</div>
                    <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error provident quos
                        tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    <div class="more">
                        <a href="#">Know More</a>
                    </div>
                </div>
            </div>
            <div class="pcard" id="pcard3">
                <img src="https://images.unsplash.com/photo-1639322537523-abaea1ca9f9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80"
                    class="pimg">
                <div class="poverlay"></div>
                <div class="details">
                    <div class="title">Language translator</div>
                    <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error provident quos
                        tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    <div class="more">
                        <a href="#">Know More</a>
                    </div>
                </div>
            </div>
            <div class="pcard" id="pcard4">
                <img src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=815&q=80"
                    class="pimg">
                <div class="poverlay"></div>
                <div class="details">
                    <div class="title">Language translator</div>
                    <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error provident quos
                        tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    <div class="more">
                        <a href="#">Know More</a>
                    </div>
                </div>
            </div>
            <div class="pcard" id="pcard5">
                <img src="https://images.unsplash.com/photo-1522202757859-7472b0973c69?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                    class="pimg">
                <div class="poverlay"></div>
                <div class="details">
                    <div class="title">Language translator</div>
                    <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error provident quos
                        tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    <div class="more">
                        <a href="#">Know More</a>
                    </div>
                </div>
            </div>
            <div class="pcard" id="pcard6">
                <img src="https://images.unsplash.com/photo-1639322537228-f710d846310a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80"
                    class="pimg">
                <div class="poverlay"></div>
                <div class="details">
                    <div class="title">Language translator</div>
                    <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error provident quos
                        tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    <div class="more">
                        <a href="#">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>